
<footer>
    <div class="top_footer_info__block ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_info__block">
                        <i class="fa fa-phone"></i>
                        <h4>+2348186071228 <span>Monday-Friday, 8am-5pm</span></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_info__block">
                        <i class="fa fa-envelope-o"></i>
                        <h4>support@havron360.org <span>Monday-Friday, 8am-5pm</span></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_info__block">
                        <img src="{{ 'assets/images/payment-options.jpg' | theme }}" class="img-responsive" style="max-width: 70%">
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>