[viewBag]

[staticMenu]
code = "main-menu"
==
<header class="header__block">
    <div class="top-part__block ptb-15">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-3">
                    <div class="social-link__block text-right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middel-part__block ptb-20">
        <div class="container">
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="{{ 'home' | page }}">
                            <img src="{{ 'logo.jpg' | media }}" alt="Logo" style="max-width: 50px">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="top-info__block text-right">
                        <ul>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <p><a href="mailto:support@havron360.org">support@havron360.org</a></p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p><a href="tel:+234803 649 0904">+2348186071228</a> </p>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <p>8.00am - 5.00pm</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navgation__block stricky-header__top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-menu__block">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand visible-xs" href="#">
                                <img src="{{ 'logo.jpg' | media }}" alt="" style="max-width: 45px;">
                            </a>
                        </div>

                        <!--===Navigation===-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% component 'staticMenu' %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>