{% set countryId = countryId|default(form_value('country_id')) %}
{% set stateId = stateId|default(form_value('state_id')) %}

<div class="form-group">
    {{ form_select_country('country_id', countryId, {
        id: 'accountCountry',
        class: '',
        emptyOption: '',
        'data-request': 'onInit',
        'data-request-update': {
            'country-state': '#partialCountryState'
        },
        placeholder: 'Select Country',
        style: 'width: 100%; color: #000'
    }) }}
</div>

<div class="form-group">
    {{ form_select_state('state_id', countryId, stateId, {
        id: 'accountState',
        class: '',
        emptyOption: '',
        placeholder: 'Select Country',
        style: 'width: 100%; color: #000'
    }) }}
</div>