title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[shopProductsList]
categoryFilter = "{{ :category }}"
scope = "showItems"
limitType = "paginate"
take = 20
orderBy = "name"
sort = "asc"
productPage = "product"
categoryPage = "products"
showQuickAdd = 1
typeCategoriesFilter = "dropdown"

[lecturersComponent]

[testimonials]
==
<!--  Main Banner Start Here-->
    <div class="main-banner banner_up">
        <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
            <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
            <div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-129">
                        <!-- MAIN IMAGE -->
                        <img src="{{ 'assets/images/banner/slider1.jpg' | theme }}" alt="" class="rev-slidebg">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Newspaper-Title tp-resizeme " id="slide-129-layer-1"
                            data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                            data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
                            data-fontsize="['50','50','50','30']" data-lineheight="['55','55','55','35']"
                            data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
                            data-transform_idle="o:1;"
                            data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                            data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            <div class="banner-text"> 
                                <h2>Let's build your <span>dreams</span> and <span>career</span></h2>
                                <p> With our team of professionals, our courses will sure make you stand out in your career. </p>
                                <a class="btn-text"
                                    href="{{ 'about-us' | page }}">
                                    learn more</a>
                            </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-130" data-title="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ 'assets/images/banner/slider2.jpg' | theme }}" alt="" class="rev-slidebg">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Newspaper-Title   tp-resizeme " id="slide-130-layer-1"
                            data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                            data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
                            data-fontsize="['50','50','50','30']" data-lineheight="['55','55','55','35']"
                            data-width="['600','600','600','420']" data-height="none" data-whitespace="normal"
                            data-transform_idle="o:1;"
                            data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                            data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                            data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                            <div class="banner-text"> 
                                <h2>With us, your <span>career</span> is <span>safe</span></h2>
                                <p> We are the leaders in affordable online education and professional development programs. </p>
                                <a class="btn-text" href="#"> Learn more</a>
                            </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </div>
    <!--  Main Banner End Here-->
    <!--top Section start Here-->
    <section class="top_section__block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="single_top__block text-center">
                        <div class="icon-box__block">
                            <i class="fa fa-trophy color"></i>
                        </div>
                        <div class="single_text__block">

                            <h2>Our Partners</h2>
                            <p>We partner with reputable institutions</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="single_top__block text-center">
                        <div class="icon-box__block">
                            <i class="fa fa-book color"></i>
                        </div>
                        <div class="single_text__block">

                            <h2>Our Courses</h2>
                            <p>Our courses are soecially crafted to advance your career</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="single_top__block text-center">
                        <div class="icon-box__block">
                            <i class="fa fa-university color"></i>
                        </div>
                        <div class="single_text__block">

                            <h2>Our Services</h2>
                            <p>We provide top-notch services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--top Section End Here-->
    <!--About Section Start Here-->
    <section class="about-section__block text-center pt-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Welcome To Havron</h2>
                    <p>Havron Professional and Educational Services is a registered limited liability company in Nigeria. We are an eLearning hub for educational, professional and career development purposes. </p>
                        <p>There are palpable desires for academic pursuit, professional development and career growth yearning for fulfilment. This huge rift between desire and fulfilment is predicated on two factors: inadequate funds and time for physical classroom sessions; these need to be addressed. </p>
                        <p>We see eLearning as the opportunity to bridge this rift. We achieve this by intermediating between candidates and securing affordable and quality education for the underserved. These can be in form of full or partial scholarships with suitable and flexible payment plans.</p>
                    <img src="{{ 'assets/images/about_img.png' | theme }}" alt="about" class="img-responsive pt-60">
                </div>
            </div>
        </div>
    </section>
    <!--About Section Start End-->
    
    <!--Course Section section Here-->
    <section class="course-section__block padding ptb-xs-60">
        <div class="container">
            <div class="row pb-30">
                <div class="col-sm-6 mb-20">
                    <h2>Popular Courses</h2>
                </div>
                <div class="col-sm-6 mb-20 text-right text-xs-left">
                    <a href="{{ 'products' | page }}" class="more_btn__block mt-0">More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

			<div class="row">
				{% for product in shopProductsList.products|slice(0,4) %}
					{% partial 'productlist/product' product=product %}
				{% endfor %}
			</div>

        </div>
    </section>
    <!--Course Section section End-->
    
    <!--LECTURERS-->
    {% component 'lecturersComponent' %}

    
<!--TESTIMONIALS-->
    
{% set testimonials = testimonials.testimonials %}	
{% set viewAll = testimonials.viewAll %}
<div id="testimonial-section" class="padding">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <div class="heading-box pb-30">
                    <h2><span>Our</span> Testimonial</h2>
                    <span class="b-line l-left"></span>
                </div>
            </div>
        </div>
        {% for chunked in testimonials.chunk(2) %}
        <div class="row mt-60">
            {% for testimonial in chunked %}
                <div class="col-sm-6" style="margin-bottome: 20px">
                    <div class="about-block gray-bg   padding-40 clearfix">
                        {% if testimonial.featured_image is not empty %}
                        <div class="client-avtar">
                            <img src="{{ testimonial.featured_image.path }}" class="img-responsive" alt="testimonial-img">
                        </div>		
                        {% endif %}
                        <div class="text-box">
                            <div class="text-content">
                                <p>{{ testimonial.content|raw }}</p>
                            </div>
                            <div class="box-title">
                                <h4><span>By</span> {{ testimonial.name }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>